body{
    margin: 0;
}

.container-top{
    background-color: black;
    background-image: url(../images/coding.gif);
}

.profile-info{
    color: white;
    margin: 150px 0 150px 0;
    text-align: center;
}

.prompt{
    padding: 0 50px 50px 50px;
}

/* change the link color */
.navbar .navbar-nav .nav-link {
    color: white;
    font-size: large;
}



/*********************************Container-Middle*****************************/
.container-middle{
    margin: 50px 0;
    text-align: center;
}

/**********profile container*********/
.container-profile{
    margin: 0 0 70px 0;
}

.img-propic{
    width: 25%;
}

.profile-description{
    margin: 0 auto 0 auto;
    width: 50%;
}


/************************************SKILLS SECTION******************************/
.skill{
    margin: 0 0 100px 0;
}

@media only screen and (max-width: 800px) {

    .container-skills{
        margin: 50px auto 20px auto;
        padding: 20px;
        width: 80%;
    }

    .skill-content{
        margin-top: 15px;
        text-align: left;
    }

    .img-skill {
        width: 50%;
    }

}


@media only screen and (min-width: 800px) {

    .container-skills{
        margin: 50px auto 20px auto;
        padding: 20px;
        width: 50%;
    }    

    .skill-content{
        text-align: left;
    }

    .img-skill.first, .img-skill.third {
        float: left;
        margin-right: 30px;
        width: 25%;
    }

    .img-skill.second, .img-skill.fourth{
        float: right;
        margin-left: 30px;
        width: 25%;
    }


}



/*********************************Container-Bottom*****************************/
.container-bottom{
    background-color: black;
    margin: 0;
}
