/******************************* TAGS *****************************************/
body{
    background-color: #f4eeff;
    font-family: 'Times New Roman', Times, sans-serif;
    margin: 0;
}

hr {
    border-style: dotted;
    border-width: 10px 0 0 0;
    border-color: #a6b1e1;
    width: 30%;
}

h2 {
    color: #424874;
}

p, ul{
    margin: 0;
}

/*********************************Container-Middle*****************************/
.container-top{
    background-color: black;
    background-image: url(../images/coding.gif);
}

.profile-info{
    color: white;
    padding: 207px 0 200px 0;
    text-align: center;
}


.prompt{
    padding: 0 50px 50px 50px;
}

/***************************************CONTAINER MIDDLE******************************/

.container-middle{
    margin: 100px auto 100px auto;
    width: 90%;
}

.my-container {
    background-color: white;            
    border: 1px solid rgb(236, 234, 234);;
}


/*SMALL SCREENS*/
@media only screen and (max-width: 768px) {

    /*parent container of the 3 containers*/
    .container-contact-me{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /*represents each of the containers*/
    .my-container {            
        padding: 30px;
        margin-bottom: 50px;
        width: 100%;
    }

}

/*LARGE SCREENS*/
@media only screen and (min-width: 768px) {

    /*parent container of the 3 containers*/
    .container-contact-me{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*represents all the containers*/
    .my-container {            
        padding: 30px;
        width: 30%;
    }

}


.my-container:hover{
    background-color: #424874;
    color: white;
}


.container-details{
    border: 1px solid;
    margin: 50px auto 0 auto;
    padding: 30px;
    text-align: center;
}


/***************************************CONTAINER BOTTOM******************************/
.container-bottom{
    background-color: #424874;
}