/******************************* TAGS *****************************************/

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #e3dfeb;
    font-family: 'Times New Roman', Times, sans-serif;
    margin: 0;
    height: 100%;
}

hr {
    border-color: #a6b1e1;
}

h2 {
    color: #424874;
}

p,
ul {
    margin: 0;
}

/*********************************NAVBAR-TOP*****************************
.navbar {
    padding: 0;
}


.navbar-toggler {
    background-color: black;
    margin: 10px;
}

.navbar-toggler-icon {
    color: white;
}*/

/*********************************Container-TOP*****************************/
.container-header{
    background-image: url(../images/ippo.jfif);

    /* Add the blur effect */
    filter: blur(5px);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
}

.profile-info {
    color: white;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;

    padding: 20px;
    text-align: center;
}

.profile-info h1 {
    font-size: 70px; 
    font-weight: bolder;
    color: white;
}

.profile-info h2 {
    font-weight: lighter; 
    color: white;
}


/* change the link color
.navbar .navbar-nav .nav-link {
    color: white;
    font-size: large;
}
*/

/*********************************Container-Middle*****************************/
.container-middle {
    text-align: center;
}


/*---------------------- Container Profile ----------------*/
.container-profile {
    background-color: white;
    padding: 50px 0;
    margin-bottom: 70px;
}

.container-profile-content {
    margin: 0 auto;
    padding: 20px;
    width: 90%;
}


/*---------------------- Container Education ----------------*/
.study-content {
    background-color: white;
    border: 1px solid rgb(236, 234, 234);
    padding: 20px;
}

.text-study {
    text-align: left;
}


/*---------------------- Container Skills ----------------*/
.skill-content {
    text-align: left;
    overflow: hidden;
    /*investing more*/
}


/* X-SMALL SCREENS */
@media only screen and (min-width: 0px) {

    /*********************** PROFILE *************/
    .container-profile-content {
        padding: 15px;
        width: 100%;
    }

    .img-propic {
        margin-bottom: 15px;
        width: 100%;
    }


    /*********************** EDUCATION *************/

    .container-studies {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .study {
        margin: 10px 0;
        padding: 0 10px;
    }

    /************************ SKILLS ****************/
    .container-skills {
        margin: 50px auto 20px auto;
        padding: 10px;
        width: 100%;
    }

    .skill {
        background-color: white;
        border: 1px solid rgb(236, 234, 234);
        margin: 10px 0 20px;
        padding: 20px 10px;
    }

    .skill-content {
        padding: 0 10px 10px;
        margin-top: 15px;
    }

    .img-skill {
        width: 70%;
    }
}


@media only screen and (min-width: 370px) {
    .container-profile-content {
        padding: 15px;
        width: 370px;
    }

    .img-propic {
        margin-bottom: 15px;
        width: 90%;
    }

    /*********************** EDUCATION *************/
    .container-education {
        margin: 0 auto;
        padding: 0 20px;
        width: 90%;
    }

    .container-skills {
        margin: 50px auto 20px auto;
        padding: 10px;
        width: 370px;
    }

    .skill {
        background-color: white;
        border: 1px solid rgb(236, 234, 234);
        margin: 10px 0 20px;
        padding: 20px 10px;
    }

}


/* SMALL SCREENS 
@media only screen and (min-width: 576px) {

    .container-profile-content {
        width: 576px;
    }

    .container-skills {
        width: 576px;
    }

}*/


/* MEDIUM SCREENS */
@media only screen and (min-width: 768px) {

    .container-profile-content {
        width: 768px;
    }

    .img-propic {
        margin-bottom: 15px;
        width: 45%;
    }

    /*********************** EDUCATION *************/
    .container-education {
        margin: 0 auto;
        padding: 0 20px;
        width: 80%;
    }

    .container-studies {
        display: flex;
        flex-direction: row;
    }

    .study {
        margin: 10px 0;
        padding: 0 10px;
        height: 100%;
        width: 50%;
    }


    .container-skills {
        width: 768px;
    }

    .skill {
        padding: 20px 20px 50px;
        margin: 20px auto;
        width: 80%;
    }

    .img-skill.first,
    .img-skill.third {
        float: left;
        margin-right: 30px;
        width: 25%;
    }

    .img-skill.second,
    .img-skill.fourth {
        float: right;
        margin-left: 30px;
        width: 25%;
    }

    .skill-content {
        padding: 0 10px 10px;
        margin-top: 0;
    }

}


/*SMALL SCREENS*/
@media only screen and (min-width: 992px) {

    .container-studies {
        display: flex;
    }

    .study {
        margin: 10px 0;
        padding: 0 10px;
        height: 100%;
        width: 30%;
    }

    .container-skills {
        width: 992px;
    }

    .skill {
        padding: 30px 20px 100px;
        margin: 20px auto;
        width: 80%;
    }
}



/*********************************Container-Bottom*****************************/
.container-bottom {
    background-color: #424874;
    padding: 30px;
}