
.btnMain{
    background-color: #bbe1fa;
}

.btnMain:hover{
    background-color: #3282b8;
}

.btnSec{
    background-color: #3282b8;
}

.btnSec:hover{
    background-color: #0f4c75;
}

.btnDark{
    background-color: #0f4c75;
}

.btnDark:hover{
    background-color: #3282b8;
}
